*
{
    font-family: tahoma;
    margin: 25px;
}

body
{
    background-color: burlywood;
}

h1
{
    /*relleno*/
    padding: 15px;
    border: 10px;
    border-style: dashed;
    border-color: yellow;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dotted;
}

p 
{color: indigo; text-align: justify; border-radius: 25px; border-style: solid;padding: 20px;}

img
{
    width: 45%;
}